.loader {
    position: fixed;
    inset: 0 !important;
    background: #03030342;
    z-index: 5 !important;
    display: flex;
    justify-content: center;
    align-items: center;

}

@keyframes loader {
    0% {
        transform: rotate(0deg)
    }

    25% {
        transform: rotate(90deg)
    }

    50% {
        transform: rotate(180deg)
    }

    75% {
        transform: rotate(270deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.loader .circle {
    width: 150px;
    height: 150px;
    border-bottom: 5px solid var(--bs-primary);
    border-radius: 1000px !important;
    animation: loader 0.5s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loader-text {
    font-size: 1em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    color: var(--bs-primary);
}

.loader-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}