.html {
  min-height: 100%;
  }
  
  .body {
    min-height: 100%;
  }
  
  /* iframe {
    pointer-events: none !important;
  } */
  
  .razorpay-checkout-frame {
    pointer-events: auto !important;
  }
  